# General
ENVIRONMENT=local

# API
PROJECT_NAME=Mande24 Independent API
API_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://mande24_user:change_me_local@postgres:5432/mande24
AUTO_CREATE_TABLES=true
JWT_SECRET_KEY=change_this_super_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ENABLE_COMMISSION_SCHEDULER=false
COMMISSION_CLOSE_HOUR_UTC=1
COMMISSION_CLOSE_MINUTE_UTC=0
COMMISSION_SCHEDULER_RUN_ON_STARTUP=false

# Web
NEXT_PUBLIC_API_URL=http://localhost:8000

# Postgres
POSTGRES_DB=mande24
POSTGRES_USER=mande24_user
POSTGRES_PASSWORD=change_me_local
